# Ignorer les fichiers d'environnement
.env
.env.*
.env.example
.env.local
.env.temp

# Ignorer les fichiers de documentation
*.md
README*
CHANGELOG*
LICENSE*

# Ignorer les fichiers de test
__tests__
*.test.js
*.spec.js

# Ignorer node_modules (sera réinstallé)
node_modules
